html {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: brown;
}/*-------------------------------------
    FORM STYLE
---------------------------------------*/
input {
    border: solid #792706;
    border-radius: 4.2em;
    width: auto;
    margin: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18;
}
